@font-face {
    font-family: 'Stay-Wanderer';
    src:url('Ressources/stay-wanderer-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: black;
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Stay-Wanderer', sans-serif;
}


.container {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: black; /* Change background to black */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden; /* Ensure that overflow is hidden for animations */
}



#image-centrale {
    position: fixed; /* Change from relative to fixed */
    top: 25%; /* Anchor to the bottom of the page */
    left: 0;
    right: 0;
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    opacity: 1;
    transition: opacity 1s ease-in-out;
    align-items: center; /* Centers horizontally */
}


.bandeau-blanc {
    position: fixed; /* Change from relative to fixed */
    bottom: 0; /* Anchor to the bottom of the page */
    left: 0;
    right: 0;
    height: 200px; /* Set the desired height */
    font-size: 1.6em;
    padding: 0em 0;
    background-color: rgba(255, 255, 255, 0.5);
    text-align: center;
}

.boutons button {
    text-decoration: none;
    font-family: 'Stay-Wanderer', sans-serif;
    font-size: 1.5em;
    height: 55px;
    margin: 0 1em;
    padding: 0.2em 0.8em;
    background: rgb(248, 40, 118);
    color: white;
    border: 3px solid white; /* Add a white border */
    border-radius: 20px;
    transition: background 0.3s;
    cursor: pointer; /* Change le curseur en une main lorsque l'on passe sur un bouton */
}

button:hover {
    transform: scale(1.1); /* Agrandit légèrement le bouton */
}

/* Styles pour le bloc penché */
.background-black {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: black; /* Arrière-plan noir */
}

.skewed-container {
    position: absolute;
    top: -25%; /* Démarre hors de l'écran en bas */
    left: -72%; /* Centre horizontalement */
    /*transform: translateX(-50%) rotate(30deg); /* Rotation de 30 degrés et centrage */
    transform: rotate(20deg); /* Rotation de 45 degrés */
    width: 200%; /* Largeur suffisamment grande pour couvrir l'écran */
    transition: top 1s ease; /* Animation de 1 seconde avec effet de transition */
}

.skewed-content {
    position: relative;
    width: 10%; /* Largeur du contenu à l'intérieur du bloc penché */
    margin: 0 auto; /* Centre le contenu horizontalement */
    z-index: 0; /* Place le contenu derrière les autres éléments */
    opacity: 0; /* Cache le contenu jusqu'à l'animation */
    transition: opacity 0.5s ease; /* Animation d'opacité */
}

.skewed-content img {
    max-width: 55%;
    height: auto;
    display: block;
}

/* Animation lorsque le bloc apparaît */
.skewed-container.appear {
    top: -30%; /* Apparaît depuis le bas vers le haut */
}

.skewed-container.appear .skewed-content {
    opacity: 1; /* Affiche le contenu lorsque le bloc apparaît */
}

.skewed-container2 {
    position: absolute;
    top: -20%; /* Démarre hors de l'écran en bas */
    left: -85%; /* Centre horizontalement */
    /*transform: translateX(-50%) rotate(30deg); /* Rotation de 30 degrés et centrage */
    transform: rotate(20deg); /* Rotation de 45 degrés */
    width: 200%; /* Largeur suffisamment grande pour couvrir l'écran */
    transition: top 1s ease; /* Animation de 1 seconde avec effet de transition */
}

.skewed-content2 {
    position: relative;
    width: 10%; /* Largeur du contenu à l'intérieur du bloc penché */
    margin: 0 auto; /* Centre le contenu horizontalement */
    z-index: 0; /* Place le contenu derrière les autres éléments */
    opacity: 0; /* Cache le contenu jusqu'à l'animation */
    transition: opacity 0.5s ease; /* Animation d'opacité */
}

.skewed-content2 img {
    max-width: 55%;
    height: auto;
    display: block;
}

/* Animation lorsque le bloc apparaît */
.skewed-container2.appear {
    top: -15%; /* Apparaît depuis le bas vers le haut */
}

.skewed-container2.appear .skewed-content2 {
    opacity: 1; /* Affiche le contenu lorsque le bloc apparaît */
}

.skewed-container3 {
    position: absolute;
    top: -25%; /* Démarre hors de l'écran en bas */
    left: -93%; /* Centre horizontalement */
    /*transform: translateX(-50%) rotate(30deg); /* Rotation de 30 degrés et centrage */
    transform: rotate(20deg); /* Rotation de 45 degrés */
    width: 200%; /* Largeur suffisamment grande pour couvrir l'écran */
    transition: top 1s ease; /* Animation de 1 seconde avec effet de transition */
}

.skewed-content3 {
    position: relative;
    width: 10%; /* Largeur du contenu à l'intérieur du bloc penché */
    margin: 0 auto; /* Centre le contenu horizontalement */
    z-index: 0; /* Place le contenu derrière les autres éléments */
    opacity: 0; /* Cache le contenu jusqu'à l'animation */
    transition: opacity 0.5s ease; /* Animation d'opacité */
}

.skewed-content3 img {
    max-width: 55%;
    height: auto;
    display: block;
}

/* Animation lorsque le bloc apparaît */
.skewed-container3.appear {
    top: -30%; /* Apparaît depuis le bas vers le haut */
}

.skewed-container3.appear .skewed-content3 {
    opacity: 1; /* Affiche le contenu lorsque le bloc apparaît */
}

.skewed-container4 {
    position: absolute;
    top: -35%; /* Démarre hors de l'écran en bas */
    left: -21%; /* Centre horizontalement */
    /*transform: translateX(-50%) rotate(30deg); /* Rotation de 30 degrés et centrage */
    transform: rotate(20deg); /* Rotation de 45 degrés */
    width: 200%; /* Largeur suffisamment grande pour couvrir l'écran */
    transition: top 1s ease; /* Animation de 1 seconde avec effet de transition */
}

.skewed-content4 {
    position: relative;
    width: 10%; /* Largeur du contenu à l'intérieur du bloc penché */
    margin: 0 auto; /* Centre le contenu horizontalement */
    z-index: 0; /* Place le contenu derrière les autres éléments */
    opacity: 0; /* Cache le contenu jusqu'à l'animation */
    transition: opacity 0.5s ease; /* Animation d'opacité */
}

.skewed-content4 img {
    max-width: 55%;
    height: auto;
    display: block;
}

/* Animation lorsque le bloc apparaît */
.skewed-container4.appear {
    top: -30%; /* Apparaît depuis le bas vers le haut */
}

.skewed-container4.appear .skewed-content4 {
    opacity: 1; /* Affiche le contenu lorsque le bloc apparaît */
}

.skewed-container5 {
    position: absolute;
    top: -15%; /* Démarre hors de l'écran en bas */
    left: -6%; /* Centre horizontalement */
    /*transform: translateX(-50%) rotate(30deg); /* Rotation de 30 degrés et centrage */
    transform: rotate(20deg); /* Rotation de 45 degrés */
    width: 200%; /* Largeur suffisamment grande pour couvrir l'écran */
    transition: top 1s ease; /* Animation de 1 seconde avec effet de transition */
}

.skewed-content5 {
    position: relative;
    width: 10%; /* Largeur du contenu à l'intérieur du bloc penché */
    margin: 0 auto; /* Centre le contenu horizontalement */
    z-index: 0; /* Place le contenu derrière les autres éléments */
    opacity: 0; /* Cache le contenu jusqu'à l'animation */
    transition: opacity 0.5s ease; /* Animation d'opacité */
}

.skewed-content5 img {
    max-width: 55%;
    height: auto;
    display: block;
}

/* Animation lorsque le bloc apparaît */
.skewed-container5.appear {
    top: -20%; /* Apparaît depuis le bas vers le haut */
}

.skewed-container5.appear .skewed-content5 {
    opacity: 1; /* Affiche le contenu lorsque le bloc apparaît */
}

.skewed-container6 {
    position: absolute;
    top: 25%; /* Démarre hors de l'écran en bas */
    left: 2%; /* Centre horizontalement */
    /*transform: translateX(-50%) rotate(30deg); /* Rotation de 30 degrés et centrage */
    transform: rotate(20deg); /* Rotation de 45 degrés */
    width: 200%; /* Largeur suffisamment grande pour couvrir l'écran */
    transition: top 1s ease; /* Animation de 1 seconde avec effet de transition */
}

.skewed-content6 {
    position: relative;
    width: 10%; /* Largeur du contenu à l'intérieur du bloc penché */
    margin: 0 auto; /* Centre le contenu horizontalement */
    z-index: 0; /* Place le contenu derrière les autres éléments */
    opacity: 0; /* Cache le contenu jusqu'à l'animation */
    transition: opacity 0.5s ease; /* Animation d'opacité */
}

.skewed-content6 img {
    max-width: 55%;
    height: auto;
    display: block;
}

/* Animation lorsque le bloc apparaît */
.skewed-container6.appear {
    top: 30%; /* Apparaît depuis le bas vers le haut */
}

.skewed-container6.appear .skewed-content6 {
    opacity: 1; /* Affiche le contenu lorsque le bloc apparaît */
}

